<h1>Contato Recebido</h1>
<p>Alguém deixou uma mensagem na página do Genializando.</p>
<p>Mensagem: </p>
<p><%= @params[:message] %></p><br>

<p>Informações:</p>
<ul>
  <li>Nome: <%= @params[:name] %></li>
  <li>Email: <%= @params[:email] %></li>
  <li>Nº de Filhos: <%= @params[:childrens] %></li>
  <li>Telefone: <%= @params[:fone] %></li>
</ul>